
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:white;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    overflow: hidden;
    /*text-transform:uppercase;*/
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:white;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.theme{
    background-color:#607D8D;   
    color: white;  
}

.textTheme{
    color: #4B6675;
}

.fill{
    float: left;
    width: 100%;
}

.tabs .indicator {
    background-color:white;
} 

.card{
    float: left; 
    width: 100%; 
    min-height: 70px; 
    box-shadow: 0 2px rgba(0,0,0,0.2);
    background-color: #536C79;
    border: 1px solid lightgray; 
    border-radius: 5px;
    margin: 0 0 6px 0;
    font-weight: normal;
}

span{
    font-weight: normal;
}

.mainMenuComponent{
    color: gray;
}

input{
    outline:none;
}

input::-webkit-input-placeholder{
    color: #607D8D;
    opacity: 1;
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #607D8D;
    opacity: 0.65; /* Firefox */
}

button{
    border: 1px solid lightgray;
    color: white;
}

.confirmationTextGreen{
    color: #33CC33;
}
.okBtnTheme{
    background-color: #33CC33;/*#4DF04D;*/
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid lightgray;
    color: white;
    font-weight: normal;
    cursor: pointer;
    padding: 0 0 34px 0;
}
.cancelBtnTheme{
    background-color: #CC333C;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid lightgray;
    color: white;
    font-weight: normal;
    cursor: pointer;
}

#gameTable td{
    padding: 0;
    text-align: center;
    padding: 5px;
    width: 33%;
}

.dicesRolled{
    display: none;
}

.customRadioAndCheckbox {
    opacity: 1;
    position: relative;
}

.customDialogBox{
    display: none; 
    background-color: white; 
    /*border: 2px solid lightgray;*/ 
    height: 266px; 
    border-radius: 2px; 
    width: 250px; position: 
    absolute; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0; 
    margin: auto; 
    padding: 20px; 
    z-index: 4; 
    box-shadow: 3px 3px rgba(0,0,0,0.2);
}

.menuOption{
    font-size: 14px;
    padding: 10px 10px;
}

.customDialogBox td{
    padding: 0;
}

.customDialogBoxTitle{
    font-size: 18px;
    color: black;
}

.customDialogBoxBody{
    font-size: 14px;
    color: black;
}

.customDialogBoxTitles{
    font-size: 20px;
}

#clouder, .clouder{
    display: none; 
    width: 100%; 
    height: 100vh; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 3; 
    background-color: rgba(0, 0, 0, 0.9);
}
