<?xml version='1.0' encoding='utf-8'?>
<widget id="com.srcloudservices.productwizard" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Product Wizard</name>
    <description>
        A product summary generator that uses a product's barcode to find information about that product
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        me
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon density="mdpi" height="57" src="res/icon/logo.png" width="57" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="phonegap-plugin-barcodescanner" spec="https://github.com/phonegap/phonegap-plugin-barcodescanner.git">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-x-toast" spec="^2.7.0" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <plugin name="cordova-plugin-headercolor" spec="^1.0.0" />
    <plugin name="nl.madebymark.share" spec="~0.1.1" />
    <engine name="android" spec="^7.0.0" />
</widget>
